<div id="DMLForm">
    <p>Dit is de partial for DML Form
    </p>
    <h1>{{dmlRow.NAME}}</h1>
    <div class="alert alert-info">Modus:<b>{{formStatus}}</b>  Pristine: <b>{{DMLForm.$pristine}}</b>  Geldig: <b>{{(!DMLForm.$invalid)}}</b></div>
    </div>
    <form name="DMLForm" novalidate
            ng-class="showValidation ? 'validate' : '' ">
        <div class="well">
            <div class="form-group">
                <table width="70%" class="table-responsive" bgcolor="#d3d3d3">
                    <tr>

                        <td>ID</td>
                        <td>&nbsp;</td>
                        <td>
                            <input name="ID" required class="form-control" size="5"
                                   placeholder="enter a valid ID"
                                   ng-required="true"
                                   ng-pattern="matchPatternID"
                                   ng-model="dmlRow.ID"/>
                        </td>
                        <td width="40%">
                            <div class="alert alert-warning" ng-show="DMLForm.ID.$error.pattern">Alleen numeriek toegestaan</div>
                            <div class="alert alert-warning" ng-show="DMLForm.ID.$error.required">Dit veld is verplicht</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Naam</td>
                        <td>&nbsp;</td>
                        <td><input name="NAME" required class="form-control" size="10"
                                   placeholder="enter a valid name"
                                   ng-minlength="3" ng-required="true"
                                   ng-model="dmlRow.NAME"/>
                        </td>
                         <td>
                             <div class="alert alert-warning" ng-show="DMLForm.NAME.$error.required">Dit veld is verplicht</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Text</td>
                        <td>&nbsp;</td>
                        <td><input name="TEXT" required class="form-control" size="30"
                                   ng-model="dmlRow.TEXT"
                                   placeholder="Geef de naam op"
                                   ng-minlength="5" ng-required="true"/>
                        </td>
                        <td>
                            <div class="alert alert-warning" ng-show="DMLForm.TEXT.$error.required">Dit veld is verplicht</div>
                            <div class="alert alert-warning" ng-show="DMLForm.TEXT.$error.minlength">Minimaal 5 karakters</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Gemaakt door</td>
                        <td>&nbsp;</td>
                        <td><input name="AUD_CREATED_BY" class="form-control" ng-model="dmlRow.AUD_CREATED_BY"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>
                            <div ng-show="DMLForm.$valid">
                                <button ng-show="showButton('UPDATE',!DMLForm.$invalid, DMLFORM.$pristine, formStatus)" ng-model="button" ng-click="updateRow()">Leg wijziging vast
                                </button>
                                <button ng-show="showButton('INSERT',!DMLForm.$invalid, DMLFORM.$pristine, formStatus)"    ng-model="button" ng-click="addRow()">Voeg toe
                                </button>
                                <button class="btn-danger" ng-show="showButton('DELETE',!DMLForm.$invalid, DMLFORM.$pristine, formStatus)" ng-model="button" ng-click="deleteRow()">Verwijder
                                </button>
                            </div>
                            <!-- Indien er hierboven GEEN button werd getoond,dan de disabled button laten zien:-->
                            <div ng-show="showButton('NONE',!DMLForm.$invalid, DMLFORM.$pristine, formStatus)">
                                <button class="disabled" disabled>Niet actief</button>
                            </div>

                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <div class="alert alert-info" ng-show="showValidation">
                    {{getError(DMLForm.NAME.$error)}}
                </div>
                <div class="alert alert-info">DML Result: <b>{{dmlResult}}</b></div>
                </div>
            </div>
        </form>
</div>
